body {
  margin: 0;
  padding: 0;
}

.section {
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider {
  padding: 2vh;
  background-color: #25282A;
  color: #C1A064;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide,
.slide__caption {
  margin: 0;
  padding: 0;
}

.slides {
  width: 30vw;
  overflow: hidden;
  display: flex;
}

.slide {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.slide__img {
  width: 100%;
  border-radius: 3%;
}

.controls fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.slide-container {
  transition: transform 0.5s;
}

.slider:has(.control__meme_1:checked) .slide-container {
  transform: translate(0);
}

.slider:has(.control__meme_2:checked) .slide-container {
  transform: translate(-30vw);
}

.slider:has(.control__meme_3:checked) .slide-container {
  transform: translate(-60vw);
}

.slider:has(.control__meme_4:checked) .slide-container {
  transform: translate(-90vw);
}

.slider:has(.control__meme_5:checked) .slide-container {
  transform: translate(-120vw);
}

@media screen and (max-width: 768px) {
  .section {
    padding: 1vh;
  }

  .slider {
    padding: 1vh;
  }

  .slides {
    width: 50vw;
  }

  .slide {
    width: 50vw;
    gap: 6vh;
  }

  .slide__caption {
    text-align: center;
  }

  .slider:has(.control__meme_1:checked) .slide-container {
    transform: translate(0);
  }
  
  .slider:has(.control__meme_2:checked) .slide-container {
    transform: translate(-50vw);
  }
  
  .slider:has(.control__meme_3:checked) .slide-container {
    transform: translate(-100vw);
  }
  
  .slider:has(.control__meme_4:checked) .slide-container {
    transform: translate(-150vw);
  }
  
  .slider:has(.control__meme_5:checked) .slide-container {
    transform: translate(-200vw);
  }
}